<template>
    <div class="has-text-centered my-3">
        <h1>This is an about page</h1>
        <button class="button is-success is-radiusless is-fullwidth is-capitalized" @click="$router.push('/')">
            {{ $t('labels.home') }}
        </button>
    </div>
</template>
