<template>
    <div class="card is-radiusless">
        <div class="card-image">
            <figure class="image is-square">
                <img :src="currentImage" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-6 ellipsis is-ellipsis-1">{{ currentName }}</p>
                    <p class="subtitle is-7 ellipsis is-ellipsis-2">{{ email }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        avatar: { type: String, default: null },
        first_name: { type: String, default: '' },
        last_name: { type: String, default: '' },
        email: { type: String, default: '' }
    },
    computed: {
        currentName() {
            return `${this.first_name} ${this.last_name}`
        },
        currentImage() {
            return this.avatar ? this.avatar : 'https://bulma.io/images/placeholders/1280x960.png'
        }
    }
}
</script>
