<template>
    <div class="container" :class="['lg', 'xl'].includes(breakpoint) ? 'is-max-desktop' : 'is-fluid'">
        <div class="mt-3">
            <slot />
        </div>
    </div>
</template>

<script>
export default {
    name: 'auth-layout',
    computed: {
        breakpoint() {
            return this.$mq
        }
    }
}
</script>
